html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(./assest/image/1.jpeg);
    background-size: cover;
    background-position: center;
    height: 109vh;
}




.heading{
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    font-style: oblique;
    
    
    

}
hr{
    color:orange;
}



nav{
   
    text-align: center;
    margin:20px;
    padding: 20px;
}

nav a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin: 50px 40px;
    
}

nav a:hover{
    color: orange;
}

div{
   color: white;
}

.b{
    text-align: center;
}

.b p{
    color: aliceblue;
    margin: 20px auto;
    

}

.b h2,h4{
    color:burlywood;
}

.b:hover{
    
    margin: auto;
    border: 1px solid gray;
    border-radius: 10px;
    background: linear-gradient( to top,rgba(0,0,0,0.5)50%,)rgba(0,0,0,0.5)50%;
}

.discription{
    width: 80%;
    margin-left: 200px;
    padding: 20px;
}

section{
    text-align: right;
    color: white;
}

section h2{
    color: burlywood;
    text-align: center;
}

section h4{
    color: white;
    text-align: center;
}



section:hover{
    
    margin: auto;
    border: 1px solid gray;
    border-radius: 10px;
    background: linear-gradient( to top,rgba(0,0,0,0.5)50%,)rgba(0,0,0,0.5)50%;
}
section p{
    margin:40px ;
    padding: 40px;
    
    left: 30%;
}

section img{
    border-radius: 10px;
    width: 300px;
    transition: 0.5% ease;
    height: auto;
    margin-right: 20px;
    position: absolute;
    left: 0;
    

}

 section .d {
    left: 30px;
    right: 20px;
    
}

section .rem{
 text-align: right; 
 width: 60%;  
 margin-left: 20%;
}

section .para{
    margin-right: 30%;
    text-align: left;
    padding-top: 15%;
    margin-bottom: 10%;
    
   
}

section .a{
    left:75%;

}

.off h2{
    text-align: center;
    color: burlywood;
}

    .off h4{
        text-align: center;
        color: white;
        font-style:initial ;
    }

    .off li{
        
        margin-left: 30px;
        margin: 0 30%;
       
    }

    .off a{
        margin:  40%;
        margin-top: 20%;
        text-decoration: none;
        color: white;
    }

    .off:hover{
    
        margin: auto;
        border: 1px solid gray;
        border-radius: 10px;
        background: linear-gradient( to top,rgba(0,0,0,0.5)50%,)rgba(0,0,0,0.5)50%;
        padding: 10px;
    }

    .cont h2{
        text-align: center;
        color: burlywood;
    }

    .cont p{
        margin-left: 50px;
       

        margin: 0 40%;
    }

    footer{

        text-align: center;
        background-color: gray;
        
        
    }

    .off button:hover {
        background-color: gray; 
        transform: scale(1.1); 
    }
